.headerBar {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(113, 72, 255, 0.5);
  border-radius: 5px;

  > span {
    font-size: 30px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.cartSearch {
  display: flex;
  align-items: center;
}

.title {
  color: rgba(113, 72, 255);
  font-weight: bold;
}
